!.gitignore

# static resource
res/*
res/datasets/*
res/vgg/*
res/milestone/ranks/*
res/milestone/temp/ranks.ret
logs/*
res/milestone/test.pt

# debug file
testProc.py

# remain file
trash
dl/compress/trash
dl/model/trash

sync.cmd
res/milestone/test.pt
res/milestone/ltest.pt

*.out
*.log
